{% extends 'base.html' %}



{% block title %}
  Home
{% endblock %}

{% block content %}
<section class="about" id="about">
    <div class="about-img">
        <img src="images/about-image.png" alt="">
    </div>
    <div class="about-content">
        <h2 class="heading">About <span>Me!</span></h2>
        <h3>Professional Web Developer and WordPress Developer</h3>
        <p>Hi, I'm M.Bilal, a Web, WordPress & eCommerce Developer and Shopify Developer. With extensive experience on Fiverr, I specialize in creating WordPress websites, eCommerce stores, Shopify website and custom solutions. Let's work together to bring your vision to life.</p>
        <a href="#portfolio"  class="btn">more Info </a>
    </div>
</section>

{% endblock %}