{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>
        {% block title %}
            AKFA
        {% endblock %}
    </title>
    
    {% bootstrap_css %}

    {% block link %}

    {% endblock %}

    {% block style %}

    {% endblock %}
    
  </head>
  <body>
      {% include "navbar.html" %}
        <div id="messages" style="text-align: center;">
            {% bootstrap_messages %}
        </div>

        {% block content %}

        {% endblock %}
        {% include "footer.html" %}

        {% block script %}

        {% endblock %}
    
  </body>
</html>