{% extends 'base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
  Home
{% endblock %}

{% block content %}
<div class="home">
  <div class="container">
    <img src="{% static 'img/romax.jpg' %}" alt="Your Image" class="image">
    <div class="text-content">
      <h1>Romax качественные двери и коробки</h1>
      <p>Производство началось в 2003 году. Начав с дверей и Окна Aldox, с годами мы стали уникальным магазином с большим количеством клиентов. В 2014 году, после изучения мнения заказчиков, был добавлен цех по изготовлению дверей и коробок из акфа пласт. В 2017 году он начал обслуживать почти 20 000 клиентов. С 2019 года в серии Thermo и Exculive добавлен новый пол. В настоящее время количество наших клиентов превышает 100 000 человек.</p>
      <button class="yellow-button">Подробнее</button>
    </div>
  </div>
</div>

<div class="portfolio">
  <small style="color: #FE951E;"><b>ПОРТФОЛИО</b></small>
  <h1>выполненные работы</h1>
  <div class="works">
    <div class="work">
      <img src="{% static 'img/romax.jpg' %}" class="work-image">
    </div>
    <div class="work">
      <img src="{% static 'img/romax.jpg' %}" class="work-image">
    </div>
    <div class="work">
      <img src="{% static 'img/romax.jpg' %}" class="work-image">
    </div>
    <div class="work">
      <img src="{% static 'img/romax.jpg' %}" class="work-image">
    </div>
  </div>
</div>

<div class="product">
    <small style="color: #FE951E;"><b>ПРОДУКТЫ</b></small>
    <h1>Качественные и доступные продукты</h1>

    <div class="product-works">
      <div class="product-work">
        <img src="{% static 'img/romax.jpg' %}" class="product-work-image">
        <a href="#" class="product-overlay">
          <span>Подробнее</span>
        </a>
      </div>
      <div class="product-work">
        <img src="{% static 'img/romax.jpg' %}" class="product-work-image">
        <a href="#" class="product-overlay">
          <span>Подробнее</span>
        </a>
      </div>
      <div class="product-work">
        <img src="{% static 'img/romax.jpg' %}" class="product-work-image">
        <a href="#" class="product-overlay">
          <span>Подробнее</span>
        </a>
      </div>
    </div>
</div>

<div class="contact-section">
  <div class="background-image"></div>
  <h1>Пожалуйста, свяжитесь с нами, если у вас есть какие-либо вопросы или предложения.</h1>
  <button class="contact-button">КОНТАКТ</button>
</div>

<div class="contact">
  <form>      
    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <input name="text" class="textarea" class="feedback-input" placeholder="Comment"></input>
    <input type="submit" value="SUBMIT"/>
  </form>
</div>
<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .home {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .image {
    border-radius: 10px;
    max-width: 450px;
    margin-bottom: 20px;
  }

  .text-content {
    flex: 1;
    max-width: 620px; /* Adjust the max-width as needed */
  }

  @media (max-width: 1270px) {
    .container {
      flex-direction: column;
    }

    .text-content {
      max-width: 100%;
    }
  }

  .yellow-button {
    background-color: #FE951E;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .portfolio {
    padding: 20px;
    text-align: center;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; /* Уменьшил gap до 10px */
    margin-top: 20px;
    max-width: 1000px; /* Ограничиваем максимальную ширину контейнера */
    margin-left: auto;
    margin-right: auto;
  }

  .work {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-width: 306px;
  }

  .work-image {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .work:hover .work-image {
    transform: scale(1.1);
  }

  


  .product {
    padding: 70px;
    text-align: center;
    background-color: gainsboro;
  }

  .product-works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /* Увеличил gap до 20px */
    margin-top: 20px;
    max-width: 850px; /* Ограничиваем максимальную ширину контейнера */
    margin-left: auto;
    margin-right: auto;
  }

  .product-work {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-width: 400px; /* Уменьшил максимальную ширину карточки */
  }

  .product-work-image {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .product-overlay {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .product-work:hover .product-overlay {
    display: block;
  }

  @media (min-width: 600px) {
    .product-work:hover .product-work-image {
      transform: scale(1.1);
    }
  }

  .contact-section {
    position: relative;
    text-align: center;
    color: white;
    padding: 50px 20px;
  }

  
  .background-image {
    background-image: url('https://romax.uz/wp-content/uploads/2023/02/121213.jpeg'); /* Подставьте путь к изображению */
    background-size: cover;
    background-position: center;
    height: 500px; /* Высота фона */
    filter: brightness(0.7); /* Настройте яркость по желанию */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .contact-section > h1 {
    text-align: center;
    align-items: center;
    font-size: 56px; /* Увеличил размер шрифта h1 */
    margin-bottom: 20px;
    max-width: 50%;
    margin-left: 25%;
  }

  .contact-button {
    background-color: #FE951E;
    color: black;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  















  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

  .contact { background:rgb(30,30,40); height: 450px; padding-top: 40px; padding-bottom: 40px;}

  form { max-width:420px; margin:50px auto; }

  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input:focus { border:2px solid #CC4949; }

  .textarea {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }
</style>



{% endblock %}
