{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<!-- box icons  -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!-- custom css  -->
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<header class="header">
    <logo class="logo">
        <img src="{% static 'img/Akfa_logo.png' %}" alt="Akfa_logo"  height="60px">
    </logo>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
        <a href="{% url 'home' %}" {% if request.path == '/' %}class="active"{% endif %}>Главная</a>
        <a href="{% url 'about' %}" {% if request.path == '/about/' %}class="active"{% endif %}>О нас</a>
        <a href="{% url 'portfolio' %}" {% if request.path == '/portfolio/' %}class="active"{% endif %}>Портфолио</a>
        <a href="{% url 'product' %}" {% if request.path == '/product/' %}class="active"{% endif %}>Продукты</a>
        <a href="{% url 'contact' %}" {% if request.path == '/contact/' %}class="active"{% endif %}>Контакты</a>
    </nav>
</header>

<script src="{% static 'js/navbar.js' %}"></script>

